[2012-02-06 13:37] michelsalib opened #8 "Commit list is broken"
@AlbertoMonteiro this commit is wrong: https://github.com/michelsalib/Gi7/commit/997d1b06465a80b16232885bed9ac36be72eba32#L1R46. Apparently the commit list is not correctly paginated, and the branch is ignored.

[2012-02-09 10:56] michelsalib opened #9 "Tree&File view"
One of the biggest improvement. The Repository view should offer a TreeView.

It should mimic the current skydrive app in term or navigation. It think it should be a dedicated page accessible from the Repository Pivot, and navigating throw folder will open a new page, so that it supports the use of the back button.

It should support repository branch.

Future, but not included improvements are :

[2012-02-09 10:59] michelsalib opened #10 "Gist view"
Not really important right now IMO.We should discuss this later.

[2012-02-09 11:03] michelsalib opened #11 "Add comments"
The user should be able to add a comment to a Commit/Issue.

This should be add to the current Commit/Issue panel, maybe something like the messaging hub, or a dedicated page accessible from a button in the appbar.
Submitting a comment should update the comment list.

Right now, we should not support any kind of completion (like when using @ on github).

[2012-02-09 11:05] michelsalib opened #12 "Organisation view"
IMO this is not really important right now, we can discuss it later.

[2012-02-09 11:08] michelsalib opened #13 "List downloads"
We should list available downloads, and then give the possibility to:
- Copy the link
- Download
- Share, via the share launcher

[2012-02-09 11:09] michelsalib opened #14 "Watch/Unwatch Repo"
We should add a button in the appbar of the Repo Pivot that allows to watch/unwatch the repo.

[2012-02-09 11:10] michelsalib opened #15 "Follow/Unfollow User"
We should have a follow/unfollow button in the appbar of the User pivot.

[2012-02-09 11:12] michelsalib opened #16 "Repo watchers"
We should have a new panel in the Repo Pivot which shows the repo's watchers.

[2012-02-09 11:14] michelsalib opened #17 "Private messages"
Not very important right now IMO.

[2012-02-09 11:17] michelsalib opened #18 "Notification panel"
We should provide a notification panel.

IMO, a dedicated page accessible from a button in the appbar of the home panel should be fine.

Tap on a notification should open the related item (like the feed list). We should add a mark all as read button in the appbar, and  a mark as read/unread on a contextual menu on long tap on an item.

[2012-02-09 11:19] michelsalib opened #19 "Tile update for notifications"
The number of unread notifications should update the tile.

We need to hook a worker to the OS in order to update the count every 15/30 minutes.

[2012-02-09 11:21] michelsalib opened #20 "Notification integration to WP7"
New notifications should popup a nice WP7 notification, even when the app is closed.

Tap on the notification should open notification panel or notification target... don't know right now.

Depends on #18 and #19.

[2012-02-09 11:43] michelsalib opened #21 "Improve the caching strategy"
There is actually a overhead when serializing/unserializing requests into file storage. This should be done when waking up/put to sleep the app instead of when fetching request answer.

[2012-02-09 11:44] michelsalib opened #22 "Make the github client agnostic"
The service/client/request/model part should be externalized in a different project in order to make it usable from a worker.

[2012-02-09 12:03] michelsalib opened #23 "Share"
Many things should be sharable via the share launcher :
- User
- Repo
- Issue
- Commit
- ...

Should be done vie the app bar.

[2012-02-10 18:05] #22 closed, assigned to michelsalib

[2012-02-25 14:18] michelsalib opened #24 "Refactor feeds"
We need to use http://developer.github.com/v3/events/.

[2012-02-26 00:41] #24 closed, assigned to nobody

[2012-02-26 00:53] michelsalib opened #25 "Better error notification"
Instead of using popup, we could display error in the system tray as seen here 21d25831a402bf5562ddef84e42bde3f7cc10949

[2012-02-26 13:45] #16 closed, assigned to nobody

[2012-04-10 00:15] #15 closed, assigned to AlbertoMonteiro

[2012-04-10 11:58] jonnybest opened #26 "Repos does not show private repositories"
The "Repos" screen should also show owned private repositores. Right now it only shows public ones.

[2012-04-10 12:03] jonnybest opened #27 "Crash on startup"
Gi7 crashed at the startup on the "News Feed" screen.
The message was about "future date and times" not being supported.

Could not be reproduced. :(

[2012-04-11 14:08] #14 closed, assigned to AlbertoMonteiro

[2012-04-11 23:31] #26 closed, assigned to nobody

[2012-04-12 09:24] #23 closed, assigned to nobody

[2012-04-13 23:09] #11 closed, assigned to AlbertoMonteiro

[2012-04-14 19:24] #9 closed, assigned to AlbertoMonteiro

[2012-04-15 13:47] michelsalib opened #28 "Search"
I would be nice to ba able to search for repo or user.

It could be done by using the web search page, and build a dedicated parser: https://github.com/search.

[2012-04-15 22:08] #28 closed, assigned to nobody

[2012-07-12 14:10] #27 closed, assigned to nobody

[2012-07-20 07:45] jonnybest opened #29 "a "new issue" feature"
Hi.

I've been trying to implement a feature that allows the user to create a new issue on any given repository. I've already gave it a try over at my fork c1a57a32a5e7a967f0c8f2ccab867a6ace24d1b9 and now I'm stuck.

On raising the NewIssueCommand I would like to present the user with a rotatable form, containing fields for the title and the body as well as a "submit" button.

How would you go abo

[2012-07-23 21:55] michelsalib opened #30 "Test issue from Gi7"
This is a test issue from the Gi7 app

[2012-07-23 21:56] #30 closed, assigned to nobody

[2012-07-25 09:53] #29 closed, assigned to nobody

[2013-05-15 23:00] Zeromax opened #34 "Unhandled Exceptions"
Just have the Problem to get Unhandled Exeptions whil browsing throug the App.

There are different bugs. Sometimes a Null Referenc Error or UnhandledEventsArgsInvalidException.

The App closes itself after these errors.

[2013-05-15 23:02] Zeromax opened #35 "Get Issue Number"
It would be cool if you get in the newsfeed something like this: `michelsalib/Gi7#31`
This would be good for better underständing wich Issues I see.

I tried to find out where to implement this. But I am not so fimilar with C# ;).

[2013-05-15 23:46] Zeromax opened #36 "Branch list is Broken"
On the Repository Detail Page I can switch through the branches, but the name is broken. The Link is still working.

Add this after Line: https://github.com/michelsalib/Gi7/blob/master/Gi7/Views/RepositoryView.xaml#L75

Then we get the names back ;)

[code]

[2013-05-16 00:21] #34 closed, assigned to nobody

[2013-05-16 19:42] Zeromax opened #37 "Pull Request and Commit view"
There are no Comments shown in the Pull Request view.
It is not possible to view the changes, like in the commit view.

I think we should show Commits as well in the comment list and link to the correct commit

[2013-05-16 19:47] Zeromax opened #38 "Add method to refresh the view (i.e. Pull to Refresh)"
I think it should be possible to update the Lists, when you are on the top, swipe down, and then a reload from the Server is triggered.

At the Moment I have to close and reopen the App to get the Newest News.

[2013-05-16 19:50] Zeromax opened #39 "Search does not working"
The search does not working.
Something is loading but no Results are displayed.

[2013-05-16 19:51] Zeromax opened #40 "Explore - Featured Repos"
For what is that good? There is no content.

[2013-05-16 20:01] Zeromax opened #41 "Commit view should display addition and deletion changes"
I like the commit view to show the added and deleted lines and the possibility to scroll through the lines.
But thats also a Problem because the scrolling left and right is also triggered for the Pivot changing.

Can we remove the Pivot Comment in here and add the comments underneath the Commit?

[2013-05-16 20:04] Zeromax opened #42 "Commit references in Comments"
Can we make the Commit References in any comments Linkable?
For now itis a long Alpha Numeric Text and doesn't make any sense ;)

Shorten it up and make it Linkable if possible

[2013-05-17 00:05] AlbertoMonteiro opened #43 "Provide any way to show organization repositories."
Actually I am in GitHub organization and I cant see repositories from this Organization.

[2013-05-17 22:36] Zeromax opened #44 "Project is broken"
@AlbertoMonteiro Since your Commits the Project is broken.

[code]

I checked out the michelsalib/Gi7 master branch to be sure. Any solution for this?

[2013-05-17 22:46] #44 closed, assigned to nobody

[2013-05-17 22:55] Zeromax opened #45 "Null Exception in EventManager.cs"
In this Line: https://github.com/michelsalib/Gi7/blob/master/Gi7/Utils/EventManager.cs#L109
I get a null Exception after Login.

Fixed it with this Line. But I am not sure, if this is the correct place?

[code]

[2013-05-18 16:46] #36 closed, assigned to nobody

[2013-05-18 17:19] Zeromax opened #49 "Please use Tags for the Version"
Its not realy an Issue, but a Improvement for Developers ;)

Is it possible to use Tags?
So we can see wich version is in the marketplace and know, what has chaged since the last marketplace release- Maybe you know, when the last release was, so add a Tag with the Version number to it.

[2013-05-18 17:39] Zeromax opened #50 "Commit Detail View is slow"
Just browsed through the Gi7 Repo in the App and find that the following commit does block the device for a to long time, without showing that something is loading.

Try it with this one:
8fad9f94a76b312cf0343e8960084fff84d1afbe

[2013-05-20 10:47] #45 closed, assigned to nobody

[2013-05-20 12:27] #35 closed, assigned to AlbertoMonteiro

[2013-05-25 11:04] #39 closed, assigned to nobody

[2014-12-25 22:19] RandomlyKnighted opened #56 "App crashes when attempting to click on an issue"
When I click on an issue in the app in order to read the full description I get the following error message:

![error_when_clicking_on_an_issue](https://cloud.githubusercontent.com/assets/2483249/5706982/ab3c4a58-9a4a-11e4-9efd-b6cf0e99ac52.jpg)

[2015-01-12 16:42] #10 closed

[2015-01-12 16:45] RandomlyKnighted commented on #12
Do you remember what was wrong with the organization view?

[2015-01-12 17:00] RandomlyKnighted opened #58 "Profile pictures are not showing up"
For some reason profile pictures are not showing up in any of the views no matter whose view the user it is.

![Avatar not showing up on profile view](https://cloud.githubusercontent.com/assets/2483249/5707002/da5727cc-9a4a-11e4-8721-46a01a73e36d.jpg)

![Avatars not showing up on watchers view](https://cloud.githubusercontent.com/assets/2483249/5706934/66d73a44-9a4a-11e4-9ee1-3261a54c9d4c.jpg)

![

[2015-01-12 17:14] RandomlyKnighted commented on #8
Was this ever fully fixed?

[2015-01-12 17:19] RandomlyKnighted opened #59 "Add additional information to search results"
It would be nice if the search results showed more info about the repository than just it's the repository name. On the GitHub website, a repository search shows its name, description, and when it was last updated.

[2015-01-12 17:40] NPadrutt opened #60 "Add busy indicator to login view"
If you click on login nothing indicates that the app is doing something. An indicator in the system tray would help here.

[2015-01-12 17:43] RandomlyKnighted commented on #60
When I log in there is a very quick "loading..." that appears at the very top of the screen then disappears.

[2015-01-12 17:47] NPadrutt commented on #60
it doens't always appear here. Sometimes I get a "wrong credentials" message. After another click I can log in (without changing the credentials). Then there is no indicator.

[2015-01-12 17:50] RandomlyKnighted commented on #60
Sounds like it's an issue with detecting when to display that message. Do you want to look into this?

[2015-01-12 17:50] NPadrutt opened #61 "Crash if click on issue"
In the message dialog it states args EventArgsObject reference is not set to an instance of an object.

[2015-01-12 17:54] RandomlyKnighted commented on #61
There is already an issue opened for this. #56

[2015-01-12 17:54] #61 closed

[2015-01-12 17:55] NPadrutt commented on #60
The whole login process seems sometimes a bit instable. I'll see if I can find something.

[2015-01-12 17:56] NPadrutt commented on #61
uh, sorry

[2015-01-12 17:57] RandomlyKnighted commented on #61
No worries, I've added some new issues and updated several others. Feel free to look over my fork to see what additional I've found since I started working on the project.

[2015-01-12 18:23] NPadrutt opened #62 "Overseeable design for issue list"
I suggest that we make some design changes for the issue list in order to improve the overview. For example let's only show one or two lines of the description.

The rest can be displayed after open the respective issue.

[2015-01-12 18:29] NPadrutt opened #63 "Rearrange pivot items project view"
For me the order of the items don't represent the usage. I would change it to:
- details
- issues
- commits
- pull request
- tree
- collaborators
- watchers

Also I'm not sure if the last 3 should better go into an minimized app bar instead use a whole pivot each. As far as I know Microsoft recommends to have not more than 5 pivot items as well.

[2015-01-12 19:13] RandomlyKnighted commented on #62
I agree, it seems kinda redundant to have an whole view for the issues if you can just read the full description on the issues pivot.

[2015-01-12 19:29] RandomlyKnighted commented on #63
Here is an excerpt from the MSDN documentation on pivot controls found [here](http://msdn.microsoft.com/en-us/library/windows/apps/hh202890%28v=vs.105%29.aspx):

[code]
I thought I had was to include the number of collaborators on the details view. Then set it up so that whenever you click on either "Watchers" or "Collaborators" in that view it would take you to a special view dedicated to display

[2015-01-12 19:54] NPadrutt commented on #63
To include collaborators and watchers on the detail page sounds like  a good idea to me.

I use the tree view to less (nearly never). Therefore the pivot seems for me like a too prominent place. But I guess that's a small issue ^^

[2015-01-12 19:58] RandomlyKnighted commented on #63
If @michelsalib and @AlbertoMonteiro don't have any objections about this change then I'll start looking at rearranging the pivots and adding the collaborators and watchers to the details pivot. I'll wait about removing them from the list of pivots until I know how hard it will be set up their own view.

[2015-01-12 20:18] RandomlyKnighted commented on #62
With just a quick glance into both the project code and the GitHub documentation I found the following:

In the GitHub documentation, if you go to the link found [here](https://api.github.com/repos/michelsalib/Gi7/issues) you will get the full list of issues being retrieved by the app when viewing the Gi7 repository.

In the project, the RepositoryView.xaml uses the Paginated IssueListBox. This re

[2015-01-12 20:23] NPadrutt commented on #62
Is the wordwrap option elipsis not available? This would cut the text when there not enough space and mark it with a "..." at the end.

[2015-01-12 20:34] NPadrutt commented on #56
Just submitted a fix for this.

[2015-01-12 20:34] #56 closed

[2015-01-12 20:36] NPadrutt commented on #60
I subimitted a change who should fix this.

[2015-01-12 20:36] #60 closed

[2015-01-12 20:37] RandomlyKnighted commented on #62
Thanks I'm still a bit new to all the XAML attributes so I wasn't aware of the TextTrimming attribute. All I had to do was give the TextBlock a fixed height and set the TextTrimming attribute.

[2015-01-12 20:39] #62 closed

[2015-01-12 20:44] NPadrutt opened #66 "Update Dependencies"
There are some updates for the used libraries e.g. MVVM Light. This inclues a bump from 4.x to 5.x for MVVM Light. I think we should update that.

[2015-01-12 20:45] AlbertoMonteiro commented on #63
For me, no problem :D

[2015-01-12 21:38] RandomlyKnighted commented on #66
Good idea, I didn't notice that until I synced with the last merge and started getting errors about things being out of date.

[2015-01-12 21:48] NPadrutt opened #68 "Support Labels, Milestones and assignments for issues"

[2015-01-12 22:03] RandomlyKnighted commented on #68
Can you clarify this a bit? I'm not sure I understand what you're wanting here.

[2015-01-12 22:06] NPadrutt commented on #68
I added a description. is it comprehensible?

[2015-01-12 22:07] RandomlyKnighted commented on #68
Yeah that's better, thanks.

[2015-01-12 22:17] RandomlyKnighted commented on #66
@NPadrutt When you update your dependencies, please make sure that you update nuget. When I resynced my fork with the main repo I ended up with whatever version of nuget you had. I had to update nuget in order to start getting clean builds again.

[2015-01-12 22:21] NPadrutt commented on #66
What do you mean exactly with update nuget? I know nuget the way that I just change the version in the nuget config and you can download the respective version via nuget. Enable restore on build can help here. Or do you mean something different?

[2015-01-12 22:25] RandomlyKnighted commented on #66
I just navigated to the project's .nuget folder via the command prompt and ran the following command

[code]

This updated nuget from version 1.7 to 2.8.3. This was the only way I was able to fix the problem. Your way might work too, it's worth a shot. I just wanted to make sure that we all have the same version in order to prevent this from happening if anyone else were to come on to the project.

[2015-01-12 22:29] NPadrutt commented on #66
Ah I guess that's the version of nuget itself. Wasn't aware that I didn't something there. Sorry for the hassle.

[2015-01-12 22:32] RandomlyKnighted commented on #66
It's fine. I wasn't aware of it either until I synced everything.

[2015-01-12 23:33] RandomlyKnighted commented on #50
It appears that the commit detail view is only slow on commits that happen to have a large number of additions and/or deletions. As @Zeromax pointed out, it also does not give the user any indication that it is loading. It would be nice if there was some type of icon or notification that appears during the loading process.

[2015-01-12 23:47] RandomlyKnighted opened #69 "Search feature nees to be updated"
Currently, the search feature uses the legacy search which is currently deprecated and will be fully removed on the next major version of the GitHub API. It would be a really good idea if we updated this to use the new version of the search API.

[2015-01-13 03:23] RandomlyKnighted opened #71 "Simplifying the home view"
After our discussion on #63, I found my old Android phone and installed the official GitHub application. I noticed that the GitHub team only placed four tabs, or in our case pivots, on the main view. They have:

1. news
2. repositories (watched and owned)
3. followers
4. following

What does everyone think about condensing our number of pivots to just those four plus the search? Keep in mind this

[2015-01-13 03:29] RandomlyKnighted commented on #58
For some reason, that I have yet to figure out, only the avatars for the news feed are showing up. If you click on a person and view their profile you will also find that the avatars only show up on the profile news feed but not anywhere else on the profile.

[2015-01-13 06:30] NPadrutt commented on #71
Sounds reasonable to me.

[2015-01-13 07:18] michelsalib commented on #71
:+1:

[2015-01-13 15:16] RandomlyKnighted opened #73 "BindableApplicationBar Watch/Unwatch does not accurately reflect GitHub website"
For example, because I have contributed to the Gi7 project GitHub has me down as "watching" the repo. In the app, however, it's apparently is not checking to see if I'm already watching the repo because when I go to the Gi7 project the "watch" button is enabled and the "unwatch" button is disabled.

FYI:
The Android GitHub app does not have this feature so it is up to the team as to whether or not

[2015-01-13 15:20] NPadrutt commented on #73
ah, good you wrote this down. I saw it yesterday but forgot to create an issue.

Since it doesn't work at the moment I tend to remove it and create a issue for a proper implementation.

[2015-01-13 15:22] NPadrutt opened #74 "Use octokit?"
I just found this library:

https://github.com/octokit/octokit.net

It seems it provides an implementation for a lot who we also need. Therefore it sounds like a good idea to use the library and share development here.

[2015-01-13 15:23] RandomlyKnighted commented on #73
Ok is this a feature that you would want in the app?

Generally I just let the GitHub website take care of all the watching and unwatching for me so I'm fine with removing it and implementing it later or just removing it altogether.

@michelsalib, @AlbertoMonteiro  what about you two?

[2015-01-13 15:25] NPadrutt commented on #73
mh, never felt like I want to use it. But maybe there are people who do so. My intention with the "make an issue" was more about create the opportunity to talk again about. but maybe we should just remove it =)

[2015-01-13 15:29] RandomlyKnighted commented on #74
It mentions Windows 8 but not Windows Phone. If we did decide to go with something like this we would definitely need to test it first to make sure it's compatible.

[2015-01-13 15:32] NPadrutt commented on #74
sure. I saw in the Issue list that there are already windows phone apps out there who are using it. For example:
http://www.windowsphone.com/de-de/store/app/octocentral/5450b4ca-875b-4d47-8d2a-75004a873f87
(Although this seems to be a WP8.1 Store App and not a 8.1 Silverlight App, but maybe this would also be a consideration).

[2015-01-13 15:32] michelsalib commented on #73
I would definitely understand removing it for now, reaching for a more stable app before reintegrating secondary features.

[2015-01-13 16:04] AlbertoMonteiro commented on #74
octokit os mantained by The github team, we could test it, I guess that the github windows app use it.

[2015-01-13 16:19] AlbertoMonteiro commented on #73
The best code that you write, is the code that you remove :P
Remove it!!!!
:+1:

[2015-01-13 16:38] NPadrutt commented on #74
I made a quick test. At least adding works without any problems.

[2015-01-13 16:43] NPadrutt opened #75 "Translations"
I think it would be nice to make the app translateable. I could do a german translation as well.

[2015-01-13 17:03] NPadrutt opened #76 "merging of Pullrequest"
How do you guys plan to handle the stuff with the pull request? Everyone merges his own pull requests as soon as he think it's done, a single person who checkes all pull request or something like each pull request is be merged by someone other than the creator?

[2015-01-13 17:06] RandomlyKnighted commented on #76
That's a good question, we should definitely be consistent. I think each pull request should be merged by someone other than the creator that way everything can be reviewed before being merged (in order to help catch potential problems).

[2015-01-13 17:09] RandomlyKnighted commented on #74
I think it would definitely simplify the project in the long run. The problem I see with using it is there would be a good bit that would need to be changed since this would most likely remove the need for RestSharp.

[2015-01-13 17:09] AlbertoMonteiro commented on #75
I can do it in Portuguese(Brazil)

[2015-01-13 17:16] NPadrutt commented on #74
I think there should be transition time while the existing things can use the existing code and new things can use octokit. But your certainly right that this would mean bigger changes to the project. But IMHO it's worth it.

[2015-01-13 17:16] NPadrutt commented on #75
great =)

[2015-01-13 17:17] RandomlyKnighted commented on #75
I like the idea..sadly I only know English.

[2015-01-13 17:18] NPadrutt commented on #76
This is my favorite option as well.

@AlbertoMonteiro @michelsalib what do you mean?

[2015-01-13 17:19] RandomlyKnighted commented on #74
I think it's definitely worth the time. If we are going to do this, then we should probably make a list of what changes we would want to implement first using Octokit.

[2015-01-13 17:22] AlbertoMonteiro commented on #76
I agree, and we should write tests to have more guarantee when writing new code and doesn't break existent one.

[2015-01-13 17:24] AlbertoMonteiro commented on #74
Agree with @RandomlyKnighted

[2015-01-13 17:28] NPadrutt opened #77 "Add Issue broken"
The app reacts like everything went well but the issue isn't created.

[2015-01-13 17:30] NPadrutt commented on #74
Agreed. We could make "refactor with octokit"-issues. Or a wikipage.

[2015-01-13 17:47] NPadrutt opened #78 "Textbox improvements"
A lot of textboxes don't offer text suggestions.
Also nearly none of them wraps text even if it would make a lot of sense. An extrem example is the body textbox for the new issues. Only the first line is used.

[2015-01-13 18:02] RandomlyKnighted commented on #76
Is anyone good at writing tests? I know I could still use some practice at it.

[2015-01-13 18:03] RandomlyKnighted commented on #74
Why not both? The wiki could also be used for notes that we find on the Octokit project.

[2015-01-13 18:06] RandomlyKnighted commented on #77
Since this feature is broken it would be a good one to refactor using Octokit. That way we only have to fix it one time.

[2015-01-13 18:10] NPadrutt commented on #77
yeah, I had the same thought.

[2015-01-13 18:11] NPadrutt commented on #74
good point.

[2015-01-13 18:16] NPadrutt commented on #76
Well, I can write tests. But I wouldn't call me an expert.
But let's make an own issue for the unit tests discussion.

To come back to the topic here: pull request have to be merged by someone other than the creator -> all fine with that?

[2015-01-13 18:17] NPadrutt opened #79 "Unit Tests"
How @AlbertoMonteiro pointed out we should make unit tests.

Does someone know a good mocking framework who supports windows phone? Moq isn't available here unfortunately afaik.

[2015-01-13 18:21] NPadrutt commented on #66
I did the update. But now I have a problem with the login view. The command doesn't get executed. But the binding here is done via the command attribute of the button o.O anyone an idea?

<pre><code> <Button Content="Login" Command="{Binding LoginCommand}" /> </code></pre>

[2015-01-13 18:38] RandomlyKnighted commented on #76
Sounds good!

[2015-01-13 18:42] RandomlyKnighted commented on #74
I added a "Refactor-With-Ocotokit" label.

@michelsalib can you add a wiki to the project please?

[2015-01-13 18:50] AlbertoMonteiro commented on #79
I found this: http://dontcodetired.com/blog/post/Mocking-Framework-for-Windows-Store-apps-(and-Windows-Phone).aspx

[2015-01-13 18:52] AlbertoMonteiro commented on #76
Ok for me

[2015-01-13 20:42] NPadrutt commented on #77
unfortunately there is currently no support for the issue api. so i will try to fix the error in the current implementation. maybe it's a consideration to commit that code to the octokit code.

[2015-01-13 21:49] NPadrutt commented on #77
Nevermind, found it =)

[2015-01-13 22:38] NPadrutt opened #82 "Issue Comments broken"

[2015-01-13 22:48] NPadrutt commented on #49
I guess it's too late for the past release, but we can start with that from now?

[2015-01-13 22:51] NPadrutt commented on #19
This could be done via a background worker.

[2015-01-13 23:01] NPadrutt opened #83 "Comment textbox in commit view not correct aligned"
![wp_ss_20150113_0001](https://cloud.githubusercontent.com/assets/1764367/5731143/86166f56-9b80-11e4-8275-45cf83402c62.png)

[2015-01-13 23:06] RandomlyKnighted commented on #66
Did you figure out what he issue was with the command attribute?

[2015-01-13 23:08] NPadrutt commented on #66
yes and no. There was a problem in calling the delegate when it was written inline. As soon as I made a method and called it everything went well. you can see it in the LoginPanelViewModel.

[2015-01-13 23:10] RandomlyKnighted commented on #49
Do you mean to include the version number in the name of the app on the store?

[2015-01-13 23:13] NPadrutt opened #84 "Comment for commit broken"
The send comment in the commit section is disabled. But I assume sending a comment won't work as well.

[2015-01-13 23:14] NPadrutt commented on #49
you mean for the tags? Guess that would make sense.

[2015-01-13 23:17] RandomlyKnighted commented on #49
Well I'm just trying to make sense of the original request.

I'm not sure about the current method for publishing apps in the Store, but if my memory serves me correctly when the Marketplace originally launched for Windows Phone 7 you could give the app a version number. Then when you updated the app you would just update the version number and that would be reflected in the Marketplace.

[2015-01-13 23:18] NPadrutt commented on #49
I guess he meant tags here in github. you then have a proper code base who references to the version in the store.

[2015-01-13 23:23] NPadrutt opened #85 "Update feature for Issues"

[2015-01-13 23:25] NPadrutt commented on #77
this should be fixed.

[2015-01-13 23:25] #77 closed

[2015-01-13 23:25] #66 closed

[2015-01-14 00:11] RandomlyKnighted commented on #69
Since this needs to be updated anyways, this would be a good time to go ahead and update it to use Octokit.

[2015-01-14 01:25] RandomlyKnighted commented on #71
Can someone please explain for me why we have both the UserView.xaml and the HomeView.xaml when they seem to be exact same thing.

[2015-01-14 01:59] RandomlyKnighted commented on #71
I've almost got this fully implemented. I've got everything down to the four pivots plus the search pivot. I've also moved the profile to the BindableApplicationBar; however, I do have a couple bugs I can't seem to get worked out.

First, the repositories pivot is only showing the owned repositories. I'm assuming this is partly due to the client being originally set up as making two separate reque

[2015-01-14 10:06] NPadrutt commented on #71
Why not keep the 2 lists but among themselves and then get the data with the two requests?

Can it have something to do with some kind of NotifyPropertyChanged issue?

[2015-01-14 12:40] NPadrutt commented on #71
Just had a look at your menu item in the bindable appbar. I guess you should try it the way of the logout button. It isn't bound directly to the IsLoggedIn but goes via the CanExecute. This is changed in the setter of the IsLoggedIn via logoutCommand.RaiseCanExecuteChanged();

[2015-01-14 15:21] RandomlyKnighted commented on #71
Even when I bind it directly to IsLoggedIn it still does the same thing.

[2015-01-14 15:24] NPadrutt commented on #71
And if you try it via tha RaiseCanExecuteChanged?

[2015-01-14 15:25] RandomlyKnighted commented on #71
Same result.

[2015-01-15 01:57] AlbertoMonteiro opened #86 "If you login with your email home view doesn't work properly"
When I used my email nothing work in home page

[2015-01-15 02:24] AlbertoMonteiro commented on #74
When fixing some issue, I used Octokit, I really love it, much better than use RestSharp!!!
:octocat: Octokit use TPL(async,await) FTW!!!!

[2015-01-15 02:30] AlbertoMonteiro opened #88 "Avatar doesnt load in user list"
When I am seeing users list, their avatars doesn't load.

After change this:
[code]
To this(removed **User.**):
[code]
It worked properly, you guys are experiencing same problem?

[2015-01-15 02:35] RandomlyKnighted commented on #88
Yeah I noticed that somewhere else as well.

[2015-01-15 02:52] #58 closed

[2015-01-15 03:22] RandomlyKnighted commented on #86
Are you getting a JsonReaderException when you attempt to log in using your e-mail address?

[2015-01-15 03:23] AlbertoMonteiro commented on #86
@RandomlyKnighted no.
Have you :Skype or hangout for faster communication?

[2015-01-15 03:26] RandomlyKnighted commented on #86
I got both, but hangouts is better. It uses less bandwidth.

[2015-01-15 03:27] AlbertoMonteiro commented on #86
@RandomlyKnighted whats ur email?

[2015-01-15 03:32] RandomlyKnighted commented on #86
I just added you on Google+.

[2015-01-15 05:03] AlbertoMonteiro opened #92 "Use Ninject"
To have less coupled and more testable code we cave to use [Dependency injection principle](http://en.wikipedia.org/wiki/Dependency_inversion_principle).
How about to use [Ninject](http://www.ninject.org/) to inject classes dependencies.
Octokit use interfaces for almost all objects, after moving to octokit we will have better code to test.
http://blog.frederikprijck.net/2013/09/10/dependency-inje

[2015-01-15 05:06] RandomlyKnighted commented on #88
@AlbertoMonteiro ProfilePanel.xaml is one such example where if the data does not load unless you have User.AvatarUrl, User.Name, etc.

[2015-01-15 05:26] NPadrutt commented on #74
Yeah it's really nice to use :)

[2015-01-15 05:28] NPadrutt commented on #92
Doesn't mvvm light introduce a DI solution who should fit for pretty all basic stuff?

Howecer if you wanna go with ninject I'm ok with it. Just don't have any experience with it.

[2015-01-15 05:30] AlbertoMonteiro commented on #92
@NPadrutt Yeap, it does. But Ninject is a lot better, and used in a lot other Project like asp.net mvc projects. I already use it on my projects, and ninject is really easy :P

[2015-01-15 05:31] AlbertoMonteiro commented on #84
There is something weird with CanExecute from CommentCommand

[2015-01-15 05:41] NPadrutt commented on #84
I assume sendimg of the comment won't work either since it uses partially same code like the new issue.

[2015-01-15 05:42] AlbertoMonteiro commented on #84
Yeah, I tried to send command, didn't work as well

[2015-01-15 05:53] NPadrutt opened #93 "Port to WP8.1 Store"
This would IMHO make a lot of sense since it allows us to make a bit a more vibrant UI because of a much better support for animations etc. Also it will allow us to create a Win8.1 version with relativ small effort if we wanna to do so. But anyway I expect here the most development in the comming versions of WP.
I expect that we have the most work with the porting the gui. The logic should be larg

[2015-01-15 05:59] RandomlyKnighted commented on #93
I'm all for it. I'd also like to phase out the Windows Phone Toolkit UI components. Whenever we do port the app to WP 8.1 I think that would be a great time to phase out the toolkit and replace it with 8.1 components.

[2015-01-15 06:00] NPadrutt commented on #93
sure thing, because the toolkit doesn't exist for WP8.1 store ;)
Also there would be no need anymore for the bindable appbar since the native app bar is bindable with WinPhone8.1 Store

[2015-01-15 06:07] NPadrutt commented on #92
Just used it once in asp.net webapi project. But didn't set it up =)

btw, is ninject further developed? I read once that the cease development since of different changes in the language who should turn it obsolet?

[2015-01-15 06:15] AlbertoMonteiro commented on #93
I guess we cant leave the 27.1% of users.
http://pt.slideshare.net/adduplex/wp-stats-20141223/6

[2015-01-15 06:17] AlbertoMonteiro commented on #92
You can check here: https://github.com/ninject/ninject
But latest commit was authored 11 days ago :P
So i guess yes :D

[2015-01-15 06:20] NPadrutt commented on #93
Well I expect to that this part will shrink more and more since all devices should get the update as far as I know.

[2015-01-15 06:21] RandomlyKnighted commented on #93
Yeah my phone got the update about a week or two ago and Verizon is usually the last one to the Windows Phone party.

[2015-01-15 06:22] NPadrutt commented on #93
Also a plan is to make the app stable and then pull the trigger. 8.0 can use a stable app and get the new as far as the get the update. Also we can further push fixes for the 8.0 version via a branch.

[2015-01-15 06:23] NPadrutt commented on #92
Ah, nice :)

[2015-01-15 06:23] AlbertoMonteiro commented on #93
I agree

[2015-01-15 06:24] AlbertoMonteiro commented on #86
@NPadrutt do have you Skype or hangout for faster communication?

[2015-01-15 06:26] NPadrutt commented on #86
I do have skype. The username is: Nino.padrutt

[2015-01-15 07:01] NPadrutt commented on #93
So, then first make it stable and then port? Or do we assume that this percentage will shrink fast enough?

[2015-01-15 07:15] RandomlyKnighted commented on #93
With all the issues we've got open I'd feel better if we got a good stable app first then port to 8.1

[2015-01-15 07:42] NPadrutt commented on #93
would it make sense to make a little release planning what we do wanna have in the next version?

[2015-01-15 09:07] NPadrutt commented on #88
I wonder where the data context is set in the profile panel o.O but maybe I'm just blind at the moment ^^

[2015-01-15 10:59] #73 closed

[2015-01-15 12:19] #78 closed

[2015-01-15 13:21] NPadrutt opened #97 "Click on newsitem leads to empty page"
Seems we have a side effect here. If you click on a newsitem in version from the store it will lead you to the relevant commit for example. At the moment it leads you just to a black page.

[2015-01-15 13:24] NPadrutt opened #98 "Following developers don't work"
Pretty much the same as in the repo view but with the developer. Both buttons are always visible and nothing happens if you click on it.

[2015-01-15 15:03] AlbertoMonteiro commented on #74
I think we should split views for each developer and refactor everything with Octokit. Since a lot things isn't working properly.

[2015-01-15 15:17] NPadrutt commented on #74
split views for each developer? you mean that everyone takes responsibilty for refactoring some views?

I agree that we have to refactor everything or nearly everything with octokit. The wikipage would be nice to organize it. But for that we need @michelsalib and it seems he isn't very active atm.

[2015-01-15 15:29] RandomlyKnighted commented on #78
@NPadrutt was this fixed?

[2015-01-15 15:31] RandomlyKnighted commented on #88
I don't see one being set.

[2015-01-15 15:32] NPadrutt commented on #88
me neither.

[2015-01-15 15:32] RandomlyKnighted commented on #93
Make sense to me, then that way we have a plan on what should be fixed first rather than just picking random bugs and fixing them.

[2015-01-15 15:33] NPadrutt commented on #78
I hope so. Sorry, I should mention it in the pull request..

[2015-01-15 15:34] AlbertoMonteiro commented on #74
Yeah, everyone take some view and do the job.
About @michelsalib we could change the main repository to be some of us that are active.
What do you think?

[2015-01-15 15:47] NPadrutt commented on #74
yeah I tend to something like that. I think we should that discuss that in skype. Maybe a bit easier than with comments here

[2015-01-15 15:49] AlbertoMonteiro commented on #74
I'm eating now when I back to work we can talk if you are available.

Enviado pelo meu Windows Phone
________________________________
From: Nino Padrutt<mailto:notifications@github.com>
Sent: ‎15/‎01/‎2015 12:47
To: michelsalib/Gi7<mailto:Gi7@noreply.github.com>
Cc: Alberto Monteiro<mailto:alberto.monteiro@live.com>
Subject: Re: [Gi7] Use octokit? (#74)

yeah I tend to something like that. I think

[2015-01-15 15:52] NPadrutt commented on #74
Enjoy your meal.
I will be available although only for chat I guess.
________________________________
Von: Alberto Monteiro<mailto:notifications@github.com>
Gesendet: ‎15.‎01.‎2015 16:49
An: michelsalib/Gi7<mailto:Gi7@noreply.github.com>
Cc: Nino Padrutt<mailto:nino.padrutt@hotmail.com>
Betreff: Re: [Gi7] Use octokit? (#74)

I'm eating now when I back to work we can talk if you are available.

Env

[2015-01-15 16:08] michelsalib commented on #74
Hey guys, thanks for working on this. I don't really mind moving the repo. Though if we only need to activate the wiki I can gladly do it :)

[2015-01-15 16:09] michelsalib commented on #74
Wiki is on!

[2015-05-22 11:51] shaikhfk opened #100 "Login issue and also newtonsoft.json issue"
Login not authorized properly wrong credential get accepted and server connectivity issue not able to use it have many exceptions

[2022-09-07 07:29] #83 closed